<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Etudiant ajouter</title>
<link rel="stylesheet" th:href="@{matieres/css/add.css}"/>
</head>
<body>
<div class="subHeader">
<p>Call us : +89745812</p>
</div>
<h1>Université de Cambridge</h1>

	<img alt="user" src="https://img.icons8.com/dotty/80/000000/administrator-male.png"/>
		<form id="form" th:action="@{matieres-valider}" method="POST" th:object="${matieres}"> <!-- l'adresse qu'on a mi dans l'action est celle qu'on a mi dans le controller afin de recuperer les données -->
		<fieldset>
		<legend>Ajouter une matieres</legend>
		
					<label id="labelHidden" >Veuillez saisir un nom de matière</label>
				<label for="nom">Nom :</label>
				<input class="input" type="text" name="nom" id="nom" th:field="*{nom}"/>
				<br/>
		
				<label for="numeroMatiere">Numéro matieres :</label>
				<input class="input" type="text" name="numeroMatiere" id="numeroMatiere" th:field="*{numeroMatiere}"/>
				<br/>
				
				<label for="coef">Coef :</label>
				<input class="input" type="text" name="coef" id="coef" th:field="*{coef}"/>
				<label>Enseignant :</label>
				<select th:field="*{enseignant}"><!-- génère le name="" -->
				<!-- La balise qu'on veut répéter c'est option , donnc le th each dessus -->
				<option th:each="enseignant :${listeEnseignant}"
				th:value="${enseignant.id}"
				th:text="${enseignant.nom + ' ' + enseignant.prenom}"
				></option>
				</select>
				<br/>
	<p><input class="btn" type="reset"/>
<input class="btn" type="button" value="valider"   onclick="validerFormulaire();"/></p>
		</fieldset>

		</form>
		
	<a class ="btn" th:href="@{matieres}">retour</a>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script type="text/javascript" th:src="@{/matieres/js/validation-matiere.js}"></script>
</body>
</html>